/*Data*/
body {
  background: beige;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: brown;
  text-align: center;
  /*background-image: url(http://i.imgur.com/DV2O1iy.jpg);*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h5 {
  font-family: Georgia;
  color: brown;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: salmon;
}
/*Text*/
p {
  font-family: Georgia;
}

/*Table*/
table {
  width: 600px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

th {
  color: salmon;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}

tr.even {
  background-color: #efefef;
}
tr.hover {
  background-color: #c3e6e5;
}


aside.ad {
  border: 1px solid black;
  background-color: salmon;
}

aside {
display: in-line block;
vertical-align: top;
width: 19%


}


/*Highlights*/
font-family: 'Raleway', sans-serif;
font-color: salmon
